.proposal{
    width: 70%;
    margin: 0% 15%;
    background:#0F8881;
    padding: 2%;
    border: 2px solid #0F8881;
    color: #1D2228;
    border-radius: 15px;
}

.students-list{
    width: 100%;
}