.soname{
    border-radius: 0 0 15px 15px;
    padding: 3%;
    background: #0F8881;
    color: white;
    width: 30%;
    margin: 0 40%;
    text-align: center;
}

.students-pv{
    width: 100%;
    padding: 15% 5%;
    background: #21A79F;
    border: 2px solid black;
    color: white;
}

.pv-chat{
    width: 100%;
    background: #13B8BA;
    padding: 2%;
    text-align: center;
}

.messages{
    width: 94%;
    background: white;
    border-radius: 10px;
    padding: 3%;
}

#msger{
    width: 94%;
    margin: 3%;
}

