{% extends 'account/base.html' %}
{% load static %}
{% block content %}
    <div class="req-lec">
        <img src="{% static "account/un.jpg" %}" style="width: 100%;height: 30%">
        <div class="req-ops">
            <div class="names">
                <h3> Dr.Hossein Mohammadi </h3>
                <h6> Zanjan University </h6>
            </div>
            <div class="row row-cols-4">
                <div class="col">
                    <button class="opt-btn">
                        اطلاعات تماس
                    </button>
                </div>
                <div class="col">
                    <button class="opt-btn">
                        ارسال پیام
                    </button>
                </div>
                <div class="col">
                    <button class="opt-btn">
                        سایرین در لیست
                    </button>
                </div>
                <div class="col">
                    <button class="opt-btn2">
                        درخواست پیوستن
                    </button>
                </div>
              </div>
        </div>
    </div>
{% endblock %}