{% extends 'account/base.html' %}
{% load static %}
{% block content %}
   <ul class="nav-ul">
      <li><a class="nav-a" href="#home">
         <svg xmlns="http://www.w3.org/2000/svg" width="50%" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
         </svg>
      </a></li>
      <li><a class="nav-a" href="{% url 'logout' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="50%" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg>
      </a></li>
    </ul>
    <div class="row row-cols-2" style="overflow: hidden">
        <div class="col" style="width: 80%;text-align: right;background: #1C2126;">
            <div class="soname">
                <h6>
                    دکتر حسین محمدی
                </h6>
            </div>
            <br><br>
            <div class="proposal" style="width: 70%;margin: 0 15%">
                پروپوزال 1
            </div>
        </div>
        <div class="col" style="width: 20%;text-align: center;background: #0F8881;padding: 0">
            <div class="students-list">
                <div class="students-pv" style="text-align: center">
                    محمد خلیل زاده
                </div>
                <div class="students-pv" style="text-align: center">
                    فرهاد جمالی
                </div>
                <div class="students-pv" style="text-align: center">
                    امین شاه باقی
                </div>
                <br><br><br><br>
            </div>
            <div class="pv-chat">
                <div class="messages">
                    پیام ها
                </div>
                <input id="msger" type="text" placeholder="بنویسید....">
            </div>
        </div>
    </div>
{% endblock %}
