{% extends 'document/base.html' %}
{% load static %}
{% block content %}
    <div style="text-align: center" class="main-bg">

        <h3>
            ساخت پروپوزال
        </h3>
        <br>

        <div class="form-cmp">
            <h6>
                ساخت عنوان
            </h6>
            <input type="text" placeholder="...عنوان" style="text-align: right">
            <button class="maker-btn">
                ایجاد
            </button>
        </div>
        <br>
        <div class="form-cmp">
            <h6>
                ساخت پاراگراف
            </h6>
            <textarea style="width: 90%;margin: 1% 5%;border-radius: 25px;" rows="8"></textarea>
            <br>
            <button class="maker-btn">
                ایجاد
            </button>
        </div>
        <br>
        <div class="form-cmp">
            <h6>
                افزودن عکس
            </h6>
            <input type="file" id="inputGroupFile01">
            <button class="maker-btn">
                ایجاد
            </button>
        </div>

        <br><br>

        <h3>
            پیش نمایش
        </h3>
        <br>

        {% for i in list %}
            {% if var1 %}
                <div class="p-title">

                </div>
            {% elif var2 %}
                 <div class="p-paragraph">

                 </div>
            {% elif var3 %}
                 <div class="p-image">

                 </div>
            {% endif %}
        {% endfor %}

        <div class="p-title">
            <h3>
                عنوان
            </h3>
        </div>
        <div class="p-paragraph">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus erat, fringilla nec ex id, rhoncus gravida erat. Aenean placerat arcu a magna laoreet volutpat. Donec gravida dignissim odio, a tincidunt tellus convallis in. Nam auctor suscipit ex, et laoreet diam tempor a. Etiam eget enim volutpat, tristique nisi non, suscipit dolor.
            </p>
        </div>
        <div class="p-image">

        </div>

    </div>
{% endblock %}
