{% extends 'document/base.html' %}
{% load static %}
{% block content %}
    <form style="text-align: center" class="main-bg" method="post" action={% url 'submit_proposal' %}>{% csrf_token %}

        <h3>
            ساخت پروپوزال
        </h3>
        <br>

        <div class="form-cmp">
            <input type="text" placeholder="عنوان" style="text-align: right" name="title" required>
        </div>
        <br>
        <div class="form-cmp">
            <input type="text" placeholder="نام استاد راهنما" style="text-align: right" name="supervisor">
        </div>
        <br>
        <div class="form-cmp">
            <input type="text" placeholder="سال تحصیلی" style="text-align: right" name="academic_year" required>
        </div>
        <br>
        <div class="form-cmp">
            <input type="text" placeholder="نیم سال" style="text-align: right" name="semester" required>
        </div>
        <br>
        <div class="form-cmp">
            <input type="text" placeholder="دانشجو" style="text-align: right" name="student">
        </div>
        <br>
        <div class="form-cmp">
            <textarea style="width: 90%;margin: 1% 5%;border-radius: 25px;text-align: right" rows="8" name="summary" placeholder="خلاصه پروپوزال" required></textarea>
            <br>
        </div>
        <br>

        <br>
        <button class="maker-btn" type="submit">
              ثبت پروپوزال
         </button>

    </form>
{% endblock %}
