{% extends 'document/base.html' %}
{% load static %}
{% block content %}
    <div style="text-align: center" class="main-bg">

        <h3>
            نمایش پروپوزال
        </h3>

        <br>

        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white;color: #1b1b1b">
              <tr>
                <th style="color: black">
                    عنوان
                </th>
              </tr>
              <tr>
                <td style="color: black">
                    پروپوزال
                </td>
              </tr>
        </table>
        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white">
              <tr>
                <th style="color: black">
                    سال تحصیلی
                </th>
                <th style="color: black">
                    نیم سال
                </th>
              </tr>
              <tr>
                <td style="color: black">
                    1400
                </td>
                <td style="color: black">
                    2
                </td>
              </tr>

        </table>
        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white">
              <tr>
                <th style="color: black">
                    استاد راهنما
                </th>
                <th style="color: black">
                    دانشجویان
                </th>
              </tr>
              <tr>
                <td style="color: black">
                    استاد {{ supervisor }}
                </td>
                <td style="color: black">
                    دانشجویان {{ student }}
                </td>
              </tr>

        </table>
        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white">
              <tr>
                <th style="color: black">
                    خلاصه
                </th>
              </tr>
              <tr>
                <td style="color: black;text-align: right;padding: 3%">
                     {{ summary }}

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat tempor sem, ac mollis dui sagittis non. Nam porta quam eget metus aliquam, at hendrerit erat sagittis. Vestibulum quis finibus tellus. Fusce at dolor dictum, placerat mi sit amet, viverra purus. Ut maximus scelerisque tristique. Sed auctor fermentum massa, nec scelerisque risus pharetra quis. Praesent eu odio congue dui faucibus mattis ac sit amet elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In placerat nunc vel ultricies imperdiet. Curabitur tincidunt urna lectus, vitae dictum augue venenatis vel.

                    Praesent euismod in sem vulputate ornare. Duis dictum velit dolor, at feugiat ligula porttitor sit amet. Maecenas sed lectus ut nunc efficitur aliquet. Morbi quis orci tempor ligula vehicula commodo. Phasellus elit mauris, faucibus eget metus eget, feugiat posuere purus. Phasellus accumsan sit amet leo non consectetur. Proin egestas metus risus, nec molestie urna suscipit sed. Maecenas in porta dolor. Phasellus et dictum elit, vitae tempor ante. Suspendisse quis sapien ultricies nisl dignissim varius in in dolor.

                    Nulla facilisi. Nunc volutpat lacinia placerat. Mauris vitae faucibus lorem. In hac habitasse platea dictumst. Maecenas et nisl odio. Nam eget finibus velit. Ut eget rhoncus est. Nunc vitae volutpat lectus. Nunc scelerisque mattis tincidunt. Nam vehicula dictum diam, et ultrices nisl laoreet at. Pellentesque suscipit at risus et pretium. Nunc eu hendrerit dui, ac scelerisque sapien.
                </td>
              </tr>

        </table>

    <br>

    </div>
{% endblock %}
