{% extends 'document/base.html' %}
{% load static %}
{% block content %}
    <div style="text-align: center" class="main-bg">

        <h3>
            نمایش پروپوزال
        </h3>

        <br>

        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white;color: #1b1b1b">
              <tr>
                <th style="color: black">
                    عنوان
                </th>
              </tr>
              <tr>
                <td style="color: black">
                    {{ proposal.title }}
                </td>
              </tr>
        </table>
        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white">
              <tr>
                <th style="color: black">
                    سال تحصیلی
                </th>
                <th style="color: black">
                    نیم سال
                </th>
              </tr>
              <tr>
                <td style="color: black">
                    {{ proposal.academic_year }}
                </td>
                <td style="color: black">
                    {{ proposal.semester }}
                </td>
              </tr>

        </table>
        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white">
              <tr>
                <th style="color: black">
                    استاد راهنما
                </th>
                <th style="color: black">
                    دانشجویان
                </th>
              </tr>
              <tr>
                <td style="color: black">
                    {% for su in supervisor %}
                      {{ su.full_name }}<br>
                    {% empty %}
                      استادی وجود ندارد. با آموزش تماس بگیرید.
                    {% endfor %}
                </td>
                <td style="color: black">
                    {% for stu in student %}
                      {{ stu.full_name }}<br>
                    {% empty %}
                      دانشجویی وجود ندارد. با آموزش تماس بگیرید.
                    {% endfor %}
                </td>
              </tr>

        </table>
        <table class="table table-striped" style="width: 90%;margin: 0px 5%;background: white;border: 1px solid white">
              <tr>
                <th style="color: black">
                    خلاصه
                </th>
              </tr>
              <tr>
                <td style="color: black;text-align: right;padding: 3%">
                    {{ proposal.summary }}
                </td>
              </tr>

        </table>

    <br>

    </div>
{% endblock %}
